extends layout.pug 

block content
  .container(style='margin-top:30px')
    h1 Админ панель - Управление пользователями


    if message
      .alert.alert-primary(role="alert") #{message}


    form(action='/admin/users/add', method='POST')
      .form-group
        label(for='username') Username:
        input#username.form-control(type='text' name='username' required)
      .form-group
        label(for='email') Email:
        input#email.form-control(type='email' name='email' required)
      .form-group
        label(for='password') Password:
        input#password.form-control(type='password' name='password' required)
      .form-group
        label(for='role') Role:
        select#role.form-control(name='role')
          option(value='admin') Admin
          option(value='customer') Customer
      button.btn.btn-primary(type='submit').mb-4 Добавить пользователя

    if users && users.length > 0
      table.table.table-hover
        thead.thead-dark
          tr
            th ID
            th Username
            th Email
            th Role
            th Actions
        tbody
          each user in users
            tr
              td #{user.id}
              td #{user.username}
              td #{user.email}
              td #{user.role}
              td
                form(action=`/admin/users/${user.id}?_method=DELETE` method="POST")
                  //- input(type='hidden', name='_method', value='DELETE')
                  button.btn.btn-danger(type='submit') Удалить
    else
      p No users found.
